@(user:String)

@main(Option(user),"Welcome to Play","") {
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2>Welcome to Mars Messaging!</h2>
                <p>You can easly write a public message with @@all string in message, also you may mention some user like @@username</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" action="@routes.Application.postMessage()" method="POST">
                <div class="form-group" draggable="true">
                    <label>Message title</label>
                    <input type="text" class="form-control" name="title" >
                </div>
                <div class="form-group" draggable="true">
                    <label>Message text</label>
                    <textarea class="form-control" required name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
}
